* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: 'Axiforma-Bold';
  src: url('fonts/Axiforma-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Axiforma-Regular';
  src: url('fonts/Axiforma-Regular.woff2') format('woff2');
  font-weight: regular;
  font-style: normal;
}

@font-face {
  font-family: 'Axiforma-Light';
  src: url('fonts/Axiforma-Light.woff2') format('woff2');
  font-weight: light;
  font-style: normal;
}


@font-face {
  font-family: 'Andis';
  src: url('fonts/Andis.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('https://raw.githubusercontent.com/phoenix-droid-art/phoenix-form/e1e407b4d53ac81f6944a8285f943f0b4e69661e/assets/background.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    overflow-x: hidden; /* evita rolagem lateral */
}

.secondary-text {
    font-family: 'Andis', sans-serif;
}

/* .logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 0;        /* cola no topo 
  margin-bottom: 32px;  /* mantém espaçamento com o h1 
}  */

.logo-container {
  position: absolute;
  top: 50px;   /* distância do topo */
  left: 50px;  /* distância da esquerda */
  z-index: 10;
}

.logo-container img {
  max-width: 160px;
  margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    width: 100%;
    overflow: hidden;
    margin-top: 150px; /* Distância de top do conteúdo abaixo da logo */
}

.left-section {
  display: flex;
  flex-direction: column;
  padding: 48px;
  position: relative;
}

.left-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.left-section img {
    max-width: 160px;
    margin-bottom: 32px;
}

.left-section h1 {
    font-family: 'Axiforma-Bold', 'Montserrat', sans-serif;
    font-size: 40px;
    color: #f5f5f5;
    margin-bottom: 16px;
}

.left-section .highlight-box {
    display: inline-block;
    background-color: #bc2649;
    padding: 2px 12px;
    border-radius: 6px;
    color: #fff;
    font-weight: bold;
}

.left-section p {
    font-size: 24px;
    color: #fff;
    font-weight: 500;
    font-family: 'Andis', sans-serif;
}

.form-container {
    background-color: #1a1a1a;
    border-radius: 20px;
    padding: 20px 40px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    min-height: 450px;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

/* Estados */
.hidden {
    display: none !important;
}

/* Etapas (formulário, loading, confirmação) */
.etapa {
    display: none; /* Esconde todas as etapas por padrão */
}

.etapa.ativa {
    display: block; /* Mostra a etapa ativa */
}

.form-container h2 {
    font-size: 28px;
    font-family: 'Axiforma-Bold', 'Montserrat', sans-serif;
    margin-bottom: 16px;
    color: #bc2649;
    text-align: center;
}

.input-group {
    margin-bottom: 16px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    font-family: 'Axiforma-Regular', 'Montserrat', sans-serif;
    font-size: 14px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #2a2a2a;
    color: #f5f5f5;
    font-family: 'Axiforma-Light', sans-serif;
}


input::placeholder {
    color: #cbd5e1;
}

.checkbox-container {
    display: flex;
    align-items: center; /* <-- garante alinhamento vertical */
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .checkbox-container label {
    font-size: 18px;
    line-height: 1; /* <-- ajuda a alinhar perfeitamente */
    margin: 0;       /* remove espaçamentos extras */
    font-weight: 300;
    font-family: 'Andis', sans-serif;
  }
button {
    background-color: #bc2649;
    color: #fff;
    font-family: 'Axiforma-Bold', 'Montserrat', sans-serif;
    border: none;
    padding: 8px 24px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
}

button:hover {
    background-color: #a31f3f;
}

/* Loading animation */
.loading-animation {
    width: 48px;
    height: 48px;
    border: 5px solid #1a1a1a; /* Cor do fundo do lado direito */
    border-top: 5px solid #bc2649; /* Cor do destaque */
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 0 auto 16px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loading p {
    text-align: center;
    font-size: 16px;
}


/* Confirmação */
.checkmark-animation {
    font-size: 48px;
    color: #bc2649; /* cor personalizada */
    animation: pop 0.6s ease-out forwards;
    margin-bottom: 16px;
}

@keyframes pop {
    0% { transform: scale(0.5); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}

#confirmacao {
    text-align: center;
}

#confirmacao p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Andis', sans-serif;
}

#confirmacao a {
    text-decoration: none; /* remove sublinhado */
}

#confirmacao h2 {
    color: #ffffff;
  }

.whatsapp-logo {
    width: 18px;
    vertical-align: middle;
}

.styled-button {
    background-color: #bc2649;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 20px auto 0 auto; /* espaçamento e centralização */
}

.styled-button:hover {
    background-color: #a51f3c;
}

@media (max-width: 768px) {
    
    body {
        background-position: top;
    }

  /* .logo-container {
        justify-content: center;
        margin-bottom: 24px;
    }
    */
    
    .logo-container {
        position: relative;
        top: auto;
        left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px auto;
    }
    
      .container {
        grid-template-columns: 1fr; /* O conteúdo fica em uma única coluna */
        margin-top: 100px; /* Ajusta a margem para não ficar muito apertado */
      }

    .left-section, .form-container {
        padding: 20px;
    }

    .left-section {
          display: flex;
          flex-direction: column;
          padding: 20px;
          align-items: center;
          text-align: center;
          position: relative;
    }

    .left-section p {
        font-weight: 300;
        font-size: 20px;
    }

        .left-content {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      .form-container {
        border-radius: 16px; /* Ajuste da borda do formulário */
        margin-top: 20px; /* Dá um espaço entre o conteúdo e o formulário */
      }

    .form-container h2 {
        font-size: 28px;
    }

    .checkbox-container label {
        font-size: 12px;
    }
}
